<div class="row-fluid" >
    <div class="span12 well-large">
        <h1>Form Grade</h1>
			<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <button class="btn btn-info" ng-click="baru()"><i class="icon-list"></i>Grade List</button>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
	  <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    
                    <th>Grade Name</th >
					<th>Majors</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in schools.content">
                    <td>{{x.gradename}}</td>
					<td>{{x.majors}}</td>
                    <td>{{x.action}}</td>
                        <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                        <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	<button class="btn btn-info" ng-click="baru()"><i class="icon-plus-sign"></i>Create New Grade</button>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
	<form class="form-horizontal" name="formEdit">
            <div class="control-group" ng-class="{error: formEdit.name.$invalid}">
                <label class="control-label" for="label">Grade Name : &nbsp;</label>
                <input type="text" id="name" 
                       name="name" 
                       placeholder="Grade Name" 
                       ng-model="currentSchool.name"
                       required>
                <span ng-show="formEdit.name.$error.required" class="help-inline">Required</span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Save</button>
                <button type="button" class="btn" ng-click="baru()">Cancel</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  </div>
    </div>
</div>