<div class="row-fluid" >
    <div class="span12 well-large">
        <h1>Form Report Student</h1>
        <form class="form-horizontal" name="formEdit">
            <div class="control-group" ng-class="{error: formEdit.schoolyear.$invalid}">
                <label class="control-label" for="label">School Year : &nbsp;</label>
                <input type="text" id="schoolyear" 
                       name="schoolyear" 
                       placeholder="School Year" 
                       ng-model="currentSchool.schoolyear"
                       required>
                <span ng-show="formEdit.schoolyear.$error.required" class="help-inline">Required</span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Save</button>
                <button type="button" class="btn" ng-click="baru()">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="row-fluid" >
     <div class="span12 well-large">
        <h1>School Year List</h1>

        <a class="btn" ng-click="baru()"> 
            <i class="icon-plus-sign"></i>Create New School Year
        </a>
        <hr>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>School Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in schools.content">
                    <td>{{x.schoolyear}}</td>
                    <td>
                        <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                        <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>   
</div>

